@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@112.5,300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
	margin: 0;
	overflow: hidden;
	background: rgb(10,10,10);
}

* {
	font-family: "Inter Tight", sans-serif;
	color: white;
}

a.nodec {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Fredoka", sans-serif;
	font-weight: 600;
	font-variation-settings: 
		"wdth" 112;
}

.text-align-center {
	text-align: center;
}

p {
	font-size: 1.2em;
}

p.p1-5 {
	font-size: 1.5rem;
}

p.p0-5 {
	font-size: 0.9rem;
}

img.emoji {
	height: 1.2rem;
  pointer-events: none;
}

p.p0-5>img.emoji {
	height: 0.9rem;
  pointer-events: none;
}

p.p1-5>img.emoji {
	height: 1.5rem;
  pointer-events: none;
}

div.site-wrapper {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-behavior: smooth;
}

.noselect {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

@keyframes SiteBGFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes LogoSineWaveAnim {
	from {
		translate: 0 6px;
	}
	50% {
		translate: 0 -6px;
	}
	to {
		translate: 0 6px;
	}
}

@keyframes bounce {
	from { transform: translate3d(0, 0, 0);} 
  to { transform: translate3d(0, -10px, 0);} 
}

#codinglanguagesitems_tooltip {
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(20,20,20);
	padding: 6px;
	border-radius: 5px;
	opacity: 1;
	transition: opacity 0.3s;
	translate: -100% 0;
	filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
	z-index: 500;
}

#codinglanguagesitems_tooltip[data-hidden="true"] {
	opacity: 0;
}

#codinglanguagesitems_tooltip span.arrow {
	width: 0;
	height: 0;
	border-right: 17px solid rgb(20,20,20);
	border-top: 17px solid transparent;
	position: absolute;
	top: -17px;
	right: 10px;
}

#codinglanguagesitems_tooltip .grid {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr auto;
	width: 310px;
}

#codinglanguagesitems_tooltip .tooltip-image {
	width: 80px;
}

#codinglanguagesitems_tooltip .tooltip-wiki-link {
	grid-column-start: 2;
	font-family: "Fredoka", sans-serif;
	opacity: 0.5;
	margin-bottom: 5px;
}

.site-bg {
	opacity: 0;
	animation: SiteBGFadeIn 1s ease-out forwards;
	animation-delay: 1s;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
	mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
	position: absolute;
	inset: 0;
	z-index: -99;
}

.header {
	max-height: unset;
	height: 300px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.header .fl4mxr1logo {
	width: 60%;
	max-width: 500px;
	animation: LogoSineWaveAnim 4s infinite ease-in-out;
}

.header .nav-top {
	display: flex;
	flex-direction: row;
	gap: 7px;
	margin-bottom: 3rem;
}

.header .nav-top .nav-btn {
	all: unset;
	background: rgba(255,255,255,0.01);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	height: min-content;
	overflow: hidden;
	border: 1px solid rgba(255,255,255,0.2);
	padding: 10px 15px;
	border-radius: 7px;
	cursor: pointer;
	z-index: 1;
	transition: outline 0.4s cubic-bezier(0,1,1,1), outline-offset 0.2s cubic-bezier(0,1,1,1), scale 0.1s cubic-bezier(0,1,1,1), translate 0.1s cubic-bezier(0,1,1,1), margin-inline 0.1s cubic-bezier(0,1,1,1);
	isolation: isolate;
	outline: 0px solid rgba(255,255,255,0);
}

.header .nav-top .nav-btn:hover {
	outline: 4px solid white;
	outline-offset: 3px;
	z-index: 99;
	scale: 1.1;
	translate: 0 -5px;
	margin-inline: 5px;
}

.header .nav-top .nav-btn img.icon {
	height: 190%;
	position: absolute;
	top: -30px;
	left: -20px;
	rotate: 15deg;
	z-index: -9;
	opacity: 0.2;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
	mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

div#scrolldown-tip {
	position: fixed;
	bottom: 10px;
	left: 50%;
	translate: -50% 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	animation: bounce 0.5s infinite;
	animation-direction: alternate-reverse;
	animation-delay: 1s;
	opacity: 0.5;
	transition: opacity 0.2s cubic-bezier(0,1,1,1);
	pointer-events: none;
}

div#scrolldown-tip[data-hidden="true"] {
	opacity: 0;
}

div#scrolldown-tip img {
	height: 2rem;
}

div#scrolldown-tip p {
	font-family: "Fredoka", sans-serif;
}

section.about-me {
	margin-inline: 50px;
}

section.about-me .grid {
	display: grid; 
  grid-template-columns: auto 1.2fr; 
  grid-template-rows: auto 1fr; 
  gap: 0px 0px; 
	background: rgb(15,15,15);
	border-radius: 7px;
	border: 1px solid rgba(255,255,255,0.1);
	padding: 10px 25px;
	align-items: start;
	max-width: 650px;
}

section.about-me .grid .am-sec1-grid {
	grid-row-start: 1;
	grid-row-end: 3;
	display: flex;
	flex-direction: column;
}

section.about-me .grid .am-sec1-grid img.side-img {
	width: 250px;
	height: 450px;
	object-fit: cover;
	object-position: 50% 0;
}

section.about-me .grid .am-sec2-grid {
	grid-row-start: 1;
}

section.about-me .grid .am-sec3-grid {
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 7px;
}

section.about-me .grid .am-sec3-grid .item {
	width: 40px;
	height: 40px;
	object-fit: contain;
	transition: scale 0.1s cubic-bezier(0,1,1,1);
	cursor: help;
}

section.about-me .grid .am-sec3-grid .item:hover {
	scale: 1.1;
}

@media (prefers-reduced-motion) {
	div#scrolldown-tip {
		animation: none;
		transition: none;
	}
	.header .fl4mxr1logo {
		animation: none;
	}
}