html, body {
	margin: 0;
	overflow: hidden;
	background: rgb(10,10,10);
}

*:not(i, b) {
	font-family: "Be Vietnam Pro", sans-serif;
	color: white;
}

*:focus {
	outline: 4px solid white;
	outline-offset: 3px;
}

a.nodec {
	text-decoration: none;
}

a {
	transition: translate 0.5s cubic-bezier(0,1,1,1);
	translate: 0 0;
}

a:hover {
	translate: 0 10px;
}

.newtab-link {
	cursor: pointer;
	text-decoration: underline;
	transition: translate 0.5s cubic-bezier(0,1,1,1), scale 0.5s cubic-bezier(0,1,1,1);
	translate: 0 0;
	display: inline-block;
}

.newtab-link.nodec {
	text-decoration: none;
}

.newtab-link:hover {
	translate: 0 -5px;
	scale: 1.05;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Fredoka", sans-serif;
	font-weight: 600;
	font-stretch: normal;
}

h1 {
	font-size: 2rem;
}

.text-align-center {
	text-align: center;
}

p {
	font-size: 1.2rem ;
}

.p1-5 {
	font-size: 1.5rem ;
}

.p0-5 {
	font-size: 0.9rem ;
}

.p0-3 {
	font-size: 0.8rem ;
}


img.emoji {
	height: 1.2rem;
  pointer-events: none;
}

.p0-5>img.emoji {
	height: 0.9rem;
  pointer-events: none;
}

.p1-5>img.emoji {
	height: 1.5rem;
  pointer-events: none;
}

.p0-3>img.emoji {
	height: 0.8rem;
  pointer-events: none;
}

.secondary-text {
	color: rgb(200,200,200)
}

.tertiary-text {
	color: rgb(150,150,150)
}

section {
	margin-block: 2rem;
}

div.site-wrapper {
	width: 100vw;
	height: 100dvh;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-behavior: smooth;
	transition: height 0.2s cubic-bezier(0,1,1,1);
}

.noselect {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

@keyframes SiteBGFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes LogoSineWaveAnim {
	from {
		translate: 0 6px;
	}
	50% {
		translate: 0 -6px;
	}
	to {
		translate: 0 6px;
	}
}

@keyframes bounce {
	from { transform: translate3d(0, 0, 0);} 
  to { transform: translate3d(0, -10px, 0);} 
}

.site-bg {
	opacity: 0;
	animation: SiteBGFadeIn 1s ease-out forwards;
	animation-delay: 1s;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
	mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
	position: absolute;
	inset: 0;
	z-index: -99;
}

.header {
	max-height: unset;
	height: 300px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}

.header .fl4mxr1logo {
	width: 60%;
	max-width: 500px;
	animation: LogoSineWaveAnim 4s infinite ease-in-out;
}

.header h1 {
	font-size: 2.5rem;
	margin: 0;
	font-stretch: semi-expanded;
}

.header .nav-top {
	display: flex;
	flex-direction: row;
	gap: 7px;
	margin-bottom: 3rem;
}

.header .nav-top .nav-btn {
	all: unset;
	background: rgba(255,255,255,0.01);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	height: min-content;
	overflow: hidden;
	border: 1px solid rgba(255,255,255,0.2);
	padding: 10px 15px;
	border-radius: 7px;
	cursor: pointer;
	z-index: 1;
	transition: outline 0.4s cubic-bezier(0,1,1,1), outline-offset 0.2s cubic-bezier(0,1,1,1), scale 0.1s cubic-bezier(0,1,1,1), translate 0.1s cubic-bezier(0,1,1,1), margin-inline 0.1s cubic-bezier(0,1,1,1);
	isolation: isolate;
	outline: 0px solid rgba(255,255,255,0);
}

.header .nav-top .nav-btn:hover {
	outline: 4px solid white;
	outline-offset: 3px;
	z-index: 99;
	scale: 1.1;
	translate: 0 -5px;
	margin-inline: 5px;
}

.header .nav-top .nav-btn img.icon {
	height: 190%;
	position: absolute;
	top: -30px;
	left: -20px;
	rotate: 15deg;
	z-index: -9;
	opacity: 0.2;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
	mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
	mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

div#scrolldown-tip {
	position: fixed;
	bottom: 10px;
	left: 50%;
	translate: -50% 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	animation: bounce 0.5s infinite;
	animation-direction: alternate-reverse;
	animation-delay: 1s;
	opacity: 0.5;
	transition: opacity 0.2s cubic-bezier(0,1,1,1);
	pointer-events: none;
}

div#scrolldown-tip[data-hidden="true"] {
	opacity: 0;
}

div#scrolldown-tip img {
	height: 2em;
}

div#scrolldown-tip p {
	font-family: "Fredoka", sans-serif;
	font-weight: 600;
	width: min-content;
	text-align: center;
	text-wrap: nowrap;
	margin: 0;
}

section.about-me {
	margin-inline: 50px;
	padding: 5px 10px;
	background: rgb(13,13,13);
	border-radius: 10px;
	width: 700px;
	min-height: 350px;
	transition: width 0.3s ease, min-height 0.3s ease;
}

section.about-me .flex-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

section.about-me .flex-container .sect1 {
	width: 30%;
	height: 100%;
	position: relative;
}

section.about-me .flex-container .sect1 h1 {
	margin: 0;
	position: absolute;
	left: 0;
	translate: 0 -60%;
	text-wrap: nowrap;
}

section.about-me .flex-container .sect1 .bust-img {
	width: 100%;
	height: 100%;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 90%);
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: top;
	object-fit: cover;
	object-position: right bottom;
}

section.about-me .flex-container .sect1 .name-text {
	position: absolute;
	bottom: 5px;
	left: 0;
	filter: drop-shadow(0 0 3px rgba(0,0,0,1));
	display: flex;
	flex-direction: column;
}

section.about-me .flex-container .sect1 .name-text .big {
	font-size: 2.5rem;
	text-wrap: nowrap;
	margin: 0;
	font-family: "Fredoka", sans-serif;
	font-weight: 600;
	font-stretch: condensed;
}

section.about-me .flex-container .sect1 .name-text .smaller {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	color: rgb(200,200,200);
	font-family: "Be Vietnam Pro", sans-serif;
}

section.about-me .flex-container .sect1 .name-text .extra {
	margin: 0;
	font-weight: 700;
}

section.about-me .flex-container .sect1 .tinyguy-img {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50%;
	filter: drop-shadow(0 0 2px rgba(0,0,0,0.5))
}

section.about-me .flex-container .sect2 {
	width: 70%;
	height: 100%;
	padding-block: 10px 30px;
	box-sizing: border-box;
}

section.about-me .flex-container .sect2 p {
	margin-block: 5px;
}

section.about-me .flex-container .sect2 .abm-countries {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 10px;
}

section.about-me .flex-container .sect2 .abm-countries img {
	height: 35px;
}

section.about-me .flex-container .sect2 .abm-cl {
	padding: 5px;
	background: rgb(20,20,20);
	border-radius: 5px;
	display: inline-flex;
	gap: 5px;
	align-items: center;
	width: min-content;
	text-wrap: nowrap;
	margin-block: 5px;
}

@media screen and (max-width: 750px) {
	section.about-me {
		width: calc(100% - 70px);
	}
}

@media screen and (max-width: 590px) {
	section.about-me {
		min-height: 0;
		min-height: max-content;
	}
	section.about-me .flex-container {
		flex-direction: column;
		height: max-content;
	}
	section.about-me .flex-container .sect1 {
		width: 100%;
		min-height: 150px;
	}
	section.about-me .flex-container .sect1 .bust-img {
		object-position: top right;
		position: absolute;
		top: -90%;
		right: 10%;
		height: 190%;
		width: 340px;
	}
	section.about-me .flex-container .sect1 .tinyguy-img {
		right: -50px;
		height: 130%;
		filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
	}
	section.about-me .flex-container .sect1 h1 {
		bottom: 25%;
		z-index: 2;
		font-size: 1.2rem;
		color: rgb(200,200,200)
	}
	section.about-me .flex-container .sect1 .name-text {
		flex-direction: row;
		align-items: flex-end;
		width: 290px;
		flex-wrap: wrap;
	}
	section.about-me .flex-container .sect1 .name-text .big {
		font-size: 1.7rem;
	}
	section.about-me .flex-container .sect1 .name-text .smaller {
		margin-left: 10px;
		margin-bottom: 2px;
	}
	section.about-me .flex-container .sect2 {
		width: 100%;
	}
}

section.socials .flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

@keyframes SocialsSection_ButtonShimmer {
	from {
		left: -50%;
	}
	to {
		left: 150%;
	}
}

section.socials .flex .item {
	width: min-content;
	padding: 14px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	background: rgb(15,15,15);
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: scale 0.3s cubic-bezier(0,1,1,1), outline 0.6s cubic-bezier(0,1,1,1), outline-offset 0.6s cubic-bezier(0,1,1,1);
	position: relative;
	overflow: hidden;
	outline: 0px solid rgba(255,255,255,0);
}

section.socials .flex .item div.shimmer {
	height: 100%;
	width: 30%;
	position: absolute;
	top: 0;
	left: -50%;
	background: linear-gradient(90deg, rgba(240,249,255,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(240,249,255,0) 100%);
	opacity: 0.2;
	transform: skewX(-45deg);
	transition: opacity 1s;
}

section.socials .flex .item:hover {
	scale: 1.1;
	outline: 4px solid white;
	outline-offset: 3px;
	isolation: isolate;
	z-index: 99;
}

section.socials .flex .item:hover div.shimmer {
	animation: SocialsSection_ButtonShimmer 1s cubic-bezier(0,0,.3,1) forwards;
	opacity: 0;
}

section.socials .flex .item:focus {
	outline: 4px solid white;
}

section.socials .flex .item .social-img {
	height: 40px;
	width: 40px;
	object-fit: contain;
	transition: width 0.3s cubic-bezier(0,1,1,1), height 0.3s cubic-bezier(0,1,1,1);
}

section.socials .flex .item .text {
	text-wrap: nowrap;
	font-size: 1.3rem;
	margin: 0;
	padding: 0;
	transition: font-size 0.3s cubic-bezier(0,1,1,1);
}

@media (max-width: 450px) {
	section.socials .flex .item .text {
		font-size: 1.1rem;
	}
	section.socials .flex .item .social-img {
		width: 35px;
		height: 35px;
	}
}

section.projects .proj-mygames {
	width: 500px;
	height: 300px;
}

section.projects .proj-mygames .el-carousel-inner .el-carousel-card {
	background: rgb(15,15,15);
	border-radius: 7px;
	overflow: hidden;
}

/* @media (max-width: 520px) {
	section.projects .proj-mygames .el-carousel-inner .el-carousel-card {
		margin-inline: 10px;
	}
} */

section.projects .proj-mygames .el-carousel-inner .el-carousel-card .game-thumbnail {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	object-fit: cover;
	object-position: center bottom;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 90%);
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: top;
}

section.projects .proj-mygames .el-carousel-inner .el-carousel-card .btm {
	position: absolute;
	bottom: 15px;
	padding-inline: 15px;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40px;
	align-items: flex-end;
	box-sizing: border-box;
	gap: 15px;
}

section.projects .proj-mygames .el-carousel-inner .el-carousel-card .btm .game-name {
	height: 250%;
}

section.projects .proj-mygames .el-carousel-inner .el-carousel-card .btm .game-info {
	margin-left: auto;
	margin-block: auto;
	height: 1.7rem;
	cursor: pointer;
	opacity: 0.7;
}

section.projects .proj-mygames .el-carousel-inner .el-carousel-card .btm .game-play {
	all: unset;
	padding: 10px 15px;
	background: rgb(14, 194, 83);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	font-family: "Fredoka", sans-serif;
	cursor: pointer;
	border-radius: 5px;
}

section.projects .proj-mygames .el-carousel-inner .el-carousel-card .btm .game-play img {
	height: 1.2rem;
}

footer.footer {
	padding: 20px;
	box-sizing: border-box;
	width: 100vw;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10vh;
	background: rgb(9,9,9);
}

footer.footer p {
	opacity: 0.5;
	margin-block: 5px;
}

footer.footer img {
	width: 150px;
}

.carousel .carousel-inner .item {
	height: 200px;
	width: 200px;
	background: red;
}

.carousel .carousel-indicators {
	bottom: -40px;
}

.carousel .carousel-indicators li {
	transition: width 0.2s ease, translate 0.2s ease, background 0.2s ease;
	height: 7px;
	border: none;
}

.carousel .carousel-indicators li:not(.active) {
	background: rgba(255,255,255,0.5);
}

.carousel .carousel-indicators li.active {
	width: 20px;
	translate: 0 -2px;
}

@media (prefers-reduced-motion) {
	*:not(.animate-anyway) {
		animation: none;
		transition: none;
	}
}
